@model HospiFication.Models.EmergencyDoc

@{
	ViewBag.Title = "Добавление нового врача приёмного отделения";
}

    <form asp-action="AddEmergeDoc" asp-controller="home" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label asp-for="Emergency_Doc_FIO" class="control-label">ФИО врача приёмного отделения</label>
            <input type="text" asp-for="Emergency_Doc_FIO" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label">Пароль</label>
            <input type="text" asp-for="Password" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
        <div class="form-group">
            <a asp-action="EmergeDocs" class="btn btn-primary">Назад</a>
        </div>
    </form>
