@model HospiFication.Models.Relative
@{
	ViewBag.Title = "Добавление родственника";
}

    <form asp-action="AddRelative" asp-controller="home" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label asp-for="PatientID" class="control-label" hidden="true" >ID пациента</label>
            <input type="text" asp-for="PatientID" hidden="true" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="RelativeFIO" class="control-label">ФИО родственника</label>
            <input type="text" asp-for="RelativeFIO" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="RelativePhone" class="control-label" >Телефон родственника</label>
            <input type="text" asp-for="RelativePhone" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="RelativeMail" class="control-label">Почта родственника</label>
            <input type="text" asp-for="RelativeMail" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="WhatsRelative" class="control-label" >Степень родства</label>
            <input type="text" asp-for="WhatsRelative" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить и добавить" formaction="SaveAndAddRelative" class="btn btn-default" />
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" formaction="SaveRelative" class="btn btn-default" />
        </div>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-primary">На главную</a>
        </div>
    </form>
