@using HospiFication.Models
@model HospiFication.Models.CommonList


<!DOCTYPE html>

<html>

	<title>Hospification</title>
	<h2>Роль: @HospiFication.Controllers.HomeController.Role</h2>
	<h2>Пользователь: @HospiFication.Controllers.HomeController.UserName</h2>
	@if (HospiFication.Controllers.HomeController.Role != "Администратор")
	{	 @if (HospiFication.Controllers.HomeController.Role == "Лечащий врач")
	     {
		 <h2>ID лечащего врача: @HospiFication.Controllers.HomeController.DocIdWithThisRole</h2>
		 }
		 else
		 {
	 	<h2>ID врача приёмного отделения: @HospiFication.Controllers.HomeController.DocIdWithThisRole</h2>
		 }
    }
</html>

